

/* Start:/bitrix/components/bitrix/sale.location.selector.steps/templates/.default/style.min.css?15330689216061*/
.bx-slst .dropdown-block{border:1px solid #bdbdbd;border-radius:2px;-webkit-box-shadow:inset 0 1px 2px #ebebeb;box-shadow:inset 0 1px 2px #ebebeb;font-size:14px;padding:0 22px 0 30px;position:relative;background-color:#fff;margin-bottom:10px}.bx-slst .dropdown-block:last-child{margin-bottom:0}.bx-slst .dropdown-arrow{background:url(/bitrix/components/bitrix/sale.location.selector.steps/templates/.default/images/dropdown-errow.png) no-repeat center center;height:100%;top:0;right:0;position:absolute;width:22px}.bx-slst .bx-ui-combobox-fake,.bx-slst .bx-ui-combobox-route{background:transparent!important;border:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;color:#000;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;height:33px;width:100%;outline:0;padding:0}.bx-slst .bx-ui-combobox-container{overflow:hidden}.bx-slst .bx-ui-combobox-dropdown{border:1px solid #bdbdbd;border-radius:2px;-webkit-box-shadow:0 2px 3px #c7c7c7;box-shadow:0 2px 3px #c7c7c7;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:none;max-height:200px;overflow-y:auto;left:0;top:35px;padding:5px 5px 3px 5px;position:absolute;width:100%}.bx-slst .dropdown-active .bx-ui-combobox-dropdown{display:block}.bx-slst .bx-ui-combobox-variants{list-style:none;margin:0;padding:0}.bx-slst .dropdown-item{border-radius:2px;padding:7px 4px 7px 10px;margin-bottom:2px}.bx-slst .dropdown-item:hover{background-color:#f1f3f5;cursor:pointer}.bx-slst .dropdown-img{border:0;display:inline-block;height:12px;margin:3px 12px 0 0;vertical-align:top;width:16px}.bx-slst .dropdown-item-text{color:#aba8ac;display:inline-block;vertical-align:top}.bx-slst .dropdown-item-text span{color:#25282c}.bx-slst .dropdown-list-title{border-bottom:1px solid #e5e5e5;height:37px;line-height:37px;padding-left:8px}.bx-slst .dropdown-icon{background:url(/bitrix/components/bitrix/sale.location.selector.steps/templates/.default/images/lens.png) no-repeat center center;height:14px;left:10px;position:absolute;top:10px;width:14px}.bx-slst .quick-locations{margin-bottom:5px}.bx-slst .quick-location-tag{background-color:#f2f5f8;border:1px solid #cad3dc;border-radius:3px;color:#1e55b9;display:inline-block;font-size:15px;height:27px;line-height:26px;margin:0 3px;padding:0 14px;text-decoration:none;margin-bottom:10px}.bx-slst .quick-location-tag:hover{background-color:#fafafa}.bx-slst .dropdown-fade2white{width:32px;height:31px;position:absolute;top:2px;right:0;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(30%,rgba(255,255,255,1)));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:-o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:-ms-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=1)}.bx-slst .bx-ui-combobox-toggle{background:url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -2618px no-repeat scroll;width:30px;height:30px;cursor:pointer;cursor:hand;margin-top:2px;position:absolute;top:0;right:0;display:block}.bx-slst .bx-ui-combobox-toggle:hover{background-position:6px -2696px}.bx-slst .bx-ui-combobox-loader{background-image:url(/bitrix/panel/main/images/waiter-white.gif)!important;background-repeat:no-repeat!important;background-position:right -1px!important;width:30px;height:30px;position:absolute;top:3px;right:2px;display:none}.bx-slst .bx-ui-combobox-go-edit{display:none}.bx-slst .bx-ui-combobox-dropdown{max-height:300px}.bx-slst .bx-ui-pager-area{height:40px;text-align:center;color:gray;padding:10px 0 0 0}.bx-slst input[type="text"]{position:relative}.bx-slst input::-ms-clear{display:none}.bx-slst .bx-ui-combobox-dropdown{background-color:#fff;z-index:999;border:1px solid #87919c}.bx-slst .bx-ui-combobox-variant{cursor:pointer;cursor:hand}.bx-slst .bx-ui-combobox-variant,.bx-slst .bx-ui-combobox-error{padding:10px 10px}.bx-slst .bx-ui-combobox-error{color:#f22;padding-left:30px;position:relative}.bx-slst .bx-ui-combobox-error div{position:absolute;top:0;left:0;width:25px;height:25px;background:url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -2895px no-repeat scroll}.bx-slst .bx-ui-combobox-variant:hover,.bx-slst .bx-ui-combobox-variant-active{background-color:#e0e8ea}.adm-sls-edit-link{margin-top:10px}.bx-admin-mode .bx-sls-go-edit{margin-left:10px;display:none}.bx-admin-mode .dropdown-block{border-color:#87919c #959ea9 #9ea7b1;border-radius:4px;-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.3),0 2px 2px -1px rgba(180,188,191,0.7) inset;box-shadow:0 1px 0 0 rgba(255,255,255,0.3),0 2px 2px -1px rgba(180,188,191,0.7) inset;height:25px}.bx-slst.bx-admin-mode .bx-ui-combobox-fake,.bx-slst.bx-admin-mode .bx-ui-combobox-route{height:25px}.bx-slst.bx-admin-mode .dropdown-icon{top:7px}.bx-slst.bx-admin-mode .dropdown-fade2white{height:22px}.bx-slst.bx-admin-mode .dropdown-fade2white{right:1px}.bx-slst.bx-admin-mode .bx-ui-combobox-toggle{background-position:6px -2623px;height:22px}.bx-slst.bx-admin-mode .bx-ui-combobox-loader{background-position:right -4px!important;height:21px}.bx-slst.bx-admin-mode .bx-ui-combobox-dropdown{top:27px}.bx-slst .bx-ui-state-items-discover-in-progress .bx-ui-combobox-loader{display:block}.bx-ui-slst-pool select{margin:10px 10px 0 0}div[data-bx-ui-id="error"]{display:none}.bx-ui-state-error div[data-bx-ui-id="error"]{display:block}.bx-ui-slst-other-item,.bx-ui-combobox-deselect-item{border-bottom:1px solid gray}.bx-ui-sls-tree-trunk{padding:0 0 9px 30px}.disabled-keyboard{cursor:pointer;cursor:hand}.disabled-keyboard input{cursor:inherit}.bx-ui-combobox-container .bx-combobox-fake-as-input{padding-top:9px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
/* End */


/* Start:/bitrix/templates/redesign/components/bitrix/main.userconsent.request/.default/user_consent.css?15796356963432*/
.main-user-consent-request a {
	cursor: pointer;
}

.main-user-consent-request-popup {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(51, 51, 51, 0.5);
	overflow: hidden;
	z-index: 9000;
}

.main-user-consent-request-popup-cont {
	min-height: 386px; /* loader magic */
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	padding: 20px;
	width: 540px;
	max-width: 100%;
	background: #fff;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
}

.main-user-consent-request-popup-header {
	margin: 0 0 30px 0;
	font: normal 18px "Helvetica Neue", Arial, Helvetica, sans-serif;
	color: #000;
	text-align: left;
}

.main-user-consent-request-popup-textarea-block {
	margin: 0 0 20px 0;
}

.main-user-consent-request-popup-buttons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.main-user-consent-request-popup-button {

	text-align: center;
	height: 40px;
	width: 128px;
	margin: 0 10px 0px 0;
	padding: 10px 1px;
	border: none;
	border-radius: 20px;
	outline: none;
	vertical-align: middle;
	text-decoration: none;
	text-transform: uppercase;
	text-shadow: none;
	white-space: nowrap;
	-webkit-font-smoothing: antialiased;
	-webkit-transition: background-color 0.2s linear, color 0.2s linear;
	transition: background-color 0.2s linear, color 0.2s linear;
	cursor: pointer;
}

.main-user-consent-request-popup-button-acc {
	background: #ee5126;
	border: 1px solid #ee5126;
	color: #fff;
}

.main-user-consent-request-popup-button-acc:hover {
	background: #ee5126;
	border: 1px solid #ee5126;
	color: #fff;
}

.main-user-consent-request-popup-button-rej {
	background: #fff;
	border: 1px solid #ee5126;
	color: #ee5126;
}

.main-user-consent-request-popup-button-rej:hover {
	background: #ee5126;
	border: 1px solid #ee5126;
	color: #fff;
}

.main-user-consent-request-popup-text {
	padding: 5px 10px;
	width: 100%;
	height: 230px;
	border: 1px solid #999;
	background: #fff;
	box-sizing: border-box;
	outline: none;
	resize: none;
	-moz-appearance: none;
}


/** LOADER **/
.main-user-consent-request-loader {
	position: relative;
	height: 100px;
	width: 100px;
	margin: 0 auto;
	-webkit-transform: translate(0, 50%);
	transform: translate(0, 50%);
}

.main-user-consent-request-path {
	stroke: #80868e;
	stroke-dasharray: 100, 200;
}

.main-user-consent-request-loader:before {
	content: '';
	display: block;
	padding-top: 100%;
}

.main-user-consent-request-circular {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height: inherit;
	width: inherit;
	-webkit-animation: rotate 1s linear infinite;
	animation: rotate 1s linear infinite;
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.main-user-consent-request-path {
	stroke: #ccc;
	stroke-dasharray: 60, 200;
	stroke-dashoffset: 0;
	-webkit-animation: dash 1.5s ease-in-out infinite;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

/* End */


/* Start:/bitrix/components/bitrix/socserv.auth.form/templates/flat/style.min.css?15856717772553*/
.bx-authform-social-popup{display:none;background:#fff;width:auto;padding:15px;font-size:14px;white-space:nowrap}.bx-authform-social-popup form{margin-bottom:0}.bx-authform-social-popup input[type="text"]{display:inline-block;max-width:150px;font-size:18px;height:30px;margin:0;padding:0 4px;border:1px solid #ccd5db;border-radius:2px;background:#f8fafc;outline:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.bx-authform-social ul{padding:5px 0 12px;margin:0 0 15px;display:block}.bx-authform-social ul li{position:relative;display:inline-block;width:35px;height:35px;margin-right:5px}.bx-authform-social ul li .bx-authform-social-icon{display:block;width:35px;height:35px;	background-image: url(/bitrix/components/bitrix/socserv.auth.form/templates/flat/images/sprite.png); background-repeat:no-repeat;border-bottom:0}.bx-authform-social ul li .bx-authform-social-icon:hover{opacity:.9}.bx-authform-social ul li .bx-authform-social-icon.box{background-position:0 0}.bx-authform-social ul li .bx-authform-social-icon.dropbox{background-position:-44px 0}.bx-authform-social ul li .bx-authform-social-icon.bitrix24{background-position:-88px 0}.bx-authform-social ul li .bx-authform-social-icon.yandex{background-position:-132px 0}.bx-authform-social ul li .bx-authform-social-icon.openid{background-position:-176px 0}.bx-authform-social ul li .bx-authform-social-icon.odnoklassniki{background-position:-220px 0}.bx-authform-social ul li .bx-authform-social-icon.google{background-position:-264px 0}.bx-authform-social ul li .bx-authform-social-icon.mymailru{background-position:-308px 0}.bx-authform-social ul li .bx-authform-social-icon.mailru2{background-position:-440px 0}.bx-authform-social ul li .bx-authform-social-icon.livejournal{background-position:-352px 0}.bx-authform-social ul li .bx-authform-social-icon.openid-mail-ru{background-position:-440px 0}.bx-authform-social ul li .bx-authform-social-icon.liveid{background-position:-484px 0}.bx-authform-social ul li .bx-authform-social-icon.liveinternet{background-position:-528px 0}.bx-authform-social ul li .bx-authform-social-icon.blogger{background-position:-572px 0}.bx-authform-social ul li .bx-authform-social-icon.vkontakte{background-position:-616px 0}.bx-authform-social ul li .bx-authform-social-icon.twitter{background-position:-660px 0}.bx-authform-social ul li .bx-authform-social-icon.facebook{background-position:-704px 0}.bx-authform-social ul li .bx-authform-social-icon.google-plus{background-position:-748px 0}.bx-authform-social ul li .bx-authform-social-icon.office365{background-position:-792px 0}
/* End */


/* Start:/bitrix/components/bitrix/sale.location.selector.search/templates/.default/style.min.css?15378164565463*/
.bx-sls .dropdown-block{border:1px solid #bdbdbd;border-radius:2px;-webkit-box-shadow:inset 0 1px 2px #ebebeb;box-shadow:inset 0 1px 2px #ebebeb;font-size:14px;padding:0 22px 0 30px;position:relative;background-color:#fff}.bx-sls .dropdown-block-ui{font-size:14px;padding:0 22px 0 30px;position:relative;background-color:#fff;margin-top:5px}.bx-sls .dropdown-arrow{background:url(/bitrix/components/bitrix/sale.location.selector.search/templates/.default/images/dropdown-errow.png) no-repeat center center;height:100%;top:0;right:0;position:absolute;width:22px}.bx-sls .bx-ui-sls-container{overflow:hidden;min-height:25px}.bx-sls .bx-ui-sls-pane{border:1px solid #bdbdbd;border-radius:2px;-webkit-box-shadow:0 2px 3px #c7c7c7;box-shadow:0 2px 3px #c7c7c7;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:none;max-height:200px;overflow-y:auto;left:0;top:35px;padding:5px 5px 3px 5px;position:absolute;width:100%}.bx-sls .dropdown-active .bx-ui-sls-pane{display:block}.bx-sls .bx-ui-sls-variants{list-style:none;margin:0;padding:0}.bx-sls .dropdown-item{border-radius:2px;padding:7px 4px 7px 10px;margin-bottom:2px}.bx-sls .dropdown-item:hover{background-color:#f1f3f5;cursor:pointer}.bx-sls .dropdown-img{border:0;display:inline-block;height:12px;margin:3px 12px 0 0;vertical-align:top;width:16px}.bx-sls .dropdown-item-text{color:#aba8ac;display:inline-block;vertical-align:top}.bx-sls .dropdown-item-text span{color:#25282c}.bx-sls .dropdown-list-title{border-bottom:1px solid #e5e5e5;height:37px;line-height:37px;padding-left:8px}.bx-sls .dropdown-icon{background:url(/bitrix/components/bitrix/sale.location.selector.search/templates/.default/images/lens.png) no-repeat center center;height:14px;left:10px;position:absolute;top:10px;width:14px}.bx-sls .quick-locations{margin-bottom:5px}.bx-sls .quick-location-tag{background-color:#f2f5f8;border:1px solid #cad3dc;border-radius:3px;color:#1e55b9;display:inline-block;font-size:15px;height:27px;line-height:26px;margin:0 3px;padding:0 14px;text-decoration:none;margin-bottom:10px}.bx-sls .quick-location-tag:hover{background-color:#fafafa}.bx-sls .dropdown-fade2white{width:46px;height:31px;position:absolute;top:2px;right:0;background:-moz-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:-webkit-gradient(linear,left top,right top,color-stop(0%,rgba(255,255,255,0)),color-stop(30%,rgba(255,255,255,1)));background:-webkit-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:-o-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:-ms-linear-gradient(left,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);background:linear-gradient(to right,rgba(255,255,255,0) 0,rgba(255,255,255,1) 30%);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=1)}.bx-sls .bx-ui-sls-clear{background:url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -3386px no-repeat scroll;width:30px;height:30px;cursor:pointer;cursor:hand;margin-top:2px;position:absolute;top:0;right:0;display:block}.bx-sls .bx-ui-sls-clear:hover{background-position:6px -3418px}.bx-sls .bx-ui-sls-loader{background-image:url(/bitrix/panel/main/images/waiter-white.gif)!important;background-repeat:no-repeat!important;background-position:right -1px!important;width:30px;height:30px;position:absolute;top:3px;right:2px;display:none}.bx-sls .bx-ui-sls-go-edit{display:none}.bx-sls .bx-ui-sls-pane{max-height:300px}.bx-sls input::-ms-clear{display:none}.bx-sls input[type="text"]{position:relative}.bx-sls .bx-ui-sls-fake,.bx-sls .bx-ui-sls-route{position:absolute!important;top:0;left:0;color:#000!important;opacity:1!important;background:transparent!important;border:none!important;box-shadow:none!important;padding:0 22px 0 0!important;background-position:right 1px;background-repeat:no-repeat;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;height:33px;width:100%;outline:0;z-index:10}.bx-sls .bx-ui-sls-route{color:#aba8ac!important;z-index:5}.bx-sls .bx-ui-sls-pane{background-color:#fff;z-index:999;border:1px solid #87919c}.bx-sls .bx-ui-sls-variants .bx-ui-sls-variant,.bx-sls .bx-ui-sls-error{padding:10px 10px}.bx-sls .bx-ui-sls-error{color:#f22;padding-left:30px;position:relative}.bx-sls .bx-ui-sls-error div{position:absolute;top:0;left:0;width:25px;height:25px;background:url(/bitrix/panel/main/images/bx-admin-sprite-small.png) 6px -2895px no-repeat scroll}.bx-sls .bx-ui-sls-variants .bx-ui-sls-variant:hover,.bx-sls .bx-ui-sls-variant-active{background-color:#e0e8ea}.adm-sls-edit-link{margin-top:10px}.bx-admin-mode .bx-sls-go-edit{margin-left:10px;display:none}.bx-admin-mode .dropdown-block{border-color:#87919c #959ea9 #9ea7b1;border-radius:4px;-webkit-box-shadow:0 1px 0 0 rgba(255,255,255,0.3),0 2px 2px -1px rgba(180,188,191,0.7) inset;box-shadow:0 1px 0 0 rgba(255,255,255,0.3),0 2px 2px -1px rgba(180,188,191,0.7) inset;height:25px}.bx-sls.bx-admin-mode .bx-ui-sls-fake,.bx-sls.bx-admin-mode .bx-ui-sls-route{height:25px}.bx-admin-mode .dropdown-icon{top:7px}.bx-admin-mode .dropdown-fade2white{height:22px}.bx-admin-mode .dropdown-fade2white{right:1px}.bx-admin-mode .bx-ui-sls-clear{background-position:6px -3389px;height:22px}.bx-admin-mode .bx-ui-sls-clear:hover{background-position:6px -3421px}.bx-admin-mode .bx-ui-sls-loader{background-position:right -4px!important;height:21px}.bx-admin-mode .bx-ui-sls-pane{top:27px}
/* End */
/* /bitrix/components/bitrix/sale.location.selector.steps/templates/.default/style.min.css?15330689216061 */
/* /bitrix/templates/redesign/components/bitrix/main.userconsent.request/.default/user_consent.css?15796356963432 */
/* /bitrix/components/bitrix/socserv.auth.form/templates/flat/style.min.css?15856717772553 */
/* /bitrix/components/bitrix/sale.location.selector.search/templates/.default/style.min.css?15378164565463 */
